--swiftversion 5.0
--allman false
--binarygrouping none
--closingparen same-line
--commas inline
--conflictmarkers reject
--decimalgrouping none
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping testable-bottom
--indent 4
--indentcase false
--linebreaks lf
--nospaceoperators ...,..<,..>
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--self remove
--selfrequired 
--semicolons never
--stripunusedargs always
--trailingclosures 
--trimwhitespace always
--wraparguments after-first
--wrapcollections before-first 
--funcattributes prev-line
--typeattributes prev-line
--varattributes prev-line
--guardelse same-line
--maxwidth 120
--enable preferKeyPath,redundantFileprivate,redundantInit,redundantGet,redundantLetError,typeSugar
--disable blankLinesAroundMark,wrapMultilineStatementBraces
--exclude **/Pods,**/*.generated.swift,**/vendor